/* Global */

.full-tem {
    font-size: 14px;
    line-height: 1.7;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
}
.full-tem h1,
.full-tem h2,
.full-tem h3,
.full-tem h4,
.full-tem h5,
.full-tem h6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    line-height: 1.3;
    font-weight: 700;
}
.full-tem h1 {
	font-size: 36px;
}
.full-tem h2 {
	font-size: 30px;
}
.full-tem h3 {
	font-size: 24px;
}
.full-tem h4 {
	font-size: 18px;
}
.full-tem h5 {
	font-size: 16px;
}
.full-tem h6 {
	font-size: 14px;
}
a:hover {
    text-decoration: none;
}
.full-tem {
	overflow-x: hidden;
}
.full-tem img {
	max-width: 100%;
	height: auto;
}

/* Header Area */

.tem-hdr {
	background-color: #000;
}
.tem-hdr-inr {
	background-color: #fff;
}
.hdr-logo a {
	display: inline-block;
}
.hdr-nav ul {
	margin: 0;
	padding: 0;
}
.hdr-nav ul li {
	list-style-type: none;
	display: inline-block;
}
.hdr-nav ul li a {
	color: #000;
	padding: 26px 12px;
	display: block;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.5s ease;
}
.hdr-nav ul li a:hover {
	background-color: #F49CB9;
	color: #fff;
}

.hdr-search a img {
    border: 1px solid #e8e8e8;
}


/* Promo */

.promo-area {
	padding-bottom: 40px;
	background-color: #000;
}
.single-promo {
	border: 1px solid #d1d1d1;
	border-left: 0;
	text-align: center;
	padding: 7px 10px;
	color: #2D2E2F;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
}
.single-promo i {
	font-size: 30px;
	color: #F49CB9;
	margin-right: 7px;
	vertical-align: middle;
}
.single-promo-top {
	background-color: #F49CB9;
	text-align: center;
	padding: 8px 10px;
	color: #2D2E2F;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 700;
}
.single-promo-top i {
	line-height: 30px;
	border: 1px solid #fff;
	color: #fff;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-left: 7px;
}

/* Product Info */

.pro-info {
	padding: 40px 0 80px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.pro-title {
	margin: 30px 0;
	background-color: #F49CB9;
	padding: 15px 30px;
	border-radius: 5px;
	font-size: 26px;
	font-weight: 700;
}

.csslider {
    position: relative;
}

.csslider > input {
    display: none;
}

.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}

.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}

.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}

.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}

.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}

.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}

.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}

.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}

.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}

.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0;
}

.csslider > ul {
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

.csslider > ul > li {
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
    /*height: 100%;*/
    line-height: normal;
    overflow: hidden;
    position: relative;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1) 0s;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    text-align: center;
}

.csslider > ul > li.scrollable {
    overflow-y: scroll;
}

.csslider > .navigation {
    text-align: center;
    margin-top: 15px;
}

.csslider > .navigation label {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    position: relative;
    vertical-align: middle;
    width: 65px;
    height: 50px;
}

.csslider > .navigation label img {
    max-height: 100%;
}

.csslider > .navigation label:hover::after {
    opacity: 1;
}

.csslider > .navigation label::after {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    left: 50%;
    margin-left: -6px;
    margin-top: -6px;
    opacity: 0;
    padding: 6px;
    position: absolute;
    top: 50%;
}

.csslider > .arrows {
    -moz-user-select: none;
}

.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}

.csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
}

.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1)::after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2)::after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3)::after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4)::after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5)::after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6)::after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7)::after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8)::after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9)::after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10)::after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11)::after {
    opacity: 1;
}

.csslider > .arrows {
    box-sizing: content-box;
    height: 26px;
    left: -31px;
    padding: 0 31px;
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 0;
}

.csslider > .arrows label {
    box-shadow: 2px -2px 0 1px #3a3a3a inset;
    cursor: pointer;
    display: none;
    padding: 13px;
    position: absolute;
    top: -50%;
    transition: box-shadow 0.15s ease 0s, margin 0.15s ease 0s;
    z-index: 9999;
}

.csslider > .arrows label:hover {
    box-shadow: 3px -3px 0 2px #CD0003 inset;
    margin: 0;
}

.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
    display: block;
    left: -27px;
    right: auto;
    transform: rotate(45deg);
}

.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
    display: block;
    left: auto;
    right: -27px;
    transform: rotate(225deg);
}

#slider1 > input:nth-of-type(3):checked ~ ul #bg {
    padding: 22px;
    transition: all 0.5s ease 0.5s;
    width: 80%;
}

#slider1 > input:nth-of-type(3):checked ~ ul #bg div {
    transform: translate(0px);
    transition: all 0.5s ease 0.9s;
}

#slider1 > input:nth-of-type(6):checked ~ ul #dex-sign {
    animation: 3.5s steps(85) 0.5s normal forwards 1 running sign-anim;
}

#bg {
    color: #000;
    height: 20%;
    left: 0;
    overflow: hidden;
    padding: 22px 0;
    position: absolute;
    top: 16%;
    width: 0;
    z-index: 10;
}

#bg::before {
    background: rgba(0, 0, 0, 0) url("https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg") repeat scroll 1px 23%;
    content: "";
    filter: blur(7px);
    height: 100%;
    left: -1px;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: -1;
}

#bg::after {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

#bg div {
    transform: translate(120%);
}

.scrollable p {
    font-size: 120%;
    line-height: 140%;
    padding: 30px;
    text-align: justify;
}

#center {
    margin-top: 25%;
    text-align: center;
}

#center a {
    font-variant: small-caps;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.rt-container {
    margin: 0 auto;
    width: 76%;
}

.csslider ul li img {
    height: auto;
    width: auto;
    max-height: 100%;
}

.navigation > label {
    border: 1px solid #ddd;
    border-radius: 5px !important;
    margin-bottom: 5px;
}

/* Product Description */

.pro-desc {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 40px 20px;
}
.pro-desc-heading {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}
.pro-desc-con ul,
.pro-desc-con ol {
	margin: 0;
	padding: 0;
	padding-left: 18px;
}
.pro-desc-con ul i,
.pro-desc-con ol i {
	margin-right: 5px;
	color: #F49CB9;
}
.pro-desc-con table,
.pro-desc-con ul,
.pro-desc-con ol,
.pro-desc-con img {
	margin-bottom: 15px;
}
.pro-desc-con table {
	width: 100%;
}
.pro-desc-con table tr:nth-child(even) {
	background-color: #e8e8e8;
}
.pro-desc-con table tr td {
	padding: 10px;
	border: 1px solid #f5f5f5;
}

/* Tab area */

.main-tab {
    width: 100%;
}
.main-tab section {
    display: none;
    background-color: #fff;
}
.main-tab input {
    display: none;
}
.main-tab label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 30px;
    text-align: center;
    color: #1a1a1a;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    text-transform: uppercase;
}
.main-tab label:hover {
    cursor: pointer;
}
.main-tab input:checked + label {
    border-bottom: 1px solid #fff;
    background-color: #F49CB9;
    color: #fff;
}
.main-tab #tab1:checked ~ #content1,
.main-tab #tab2:checked ~ #content2,
.main-tab #tab3:checked ~ #content3,
.main-tab #tab4:checked ~ #content4,
.main-tab #tab5:checked ~ #content5 {
    display: block;
    padding: 40px 45px 25px;
}

.main-tab section ul,
.main-tab section ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.main-tab section ul i,
.main-tab section ol i {
	margin-right: 5px;
	color: #F49CB9;
}

.main-tab section table,
.main-tab section ul,
.main-tab section ol,
.main-tab section img {
	margin-bottom: 15px;
}

.main-tab section table {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}
.main-tab section table td {
    padding: 5px;
    border: 1px solid #ddd;
}

/* Footer Area */

.copy-txt {
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 30px 0 0;
}
.copy-txt img {
	height: 100px;
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .hdr-nav ul li a,
    .single-promo,
    .single-promo-top {
        font-size: 14px;
    }

}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .hdr-logo {
        text-align: center;
    }
    .hdr-search.text-right {
        text-align: center;
        margin-bottom: 15px;
    }
    .single-promo {
        font-size: 14px;
    }
    .single-promo.one {
        border-left: 1px solid #d1d1d1;
    }
    .pro-desc-con {
        margin-top: 15px;
    }
    .single-promo-top {
        font-size: 14px;
    }

}

/* Extra small Device. */
@media (max-width: 767px) {
    .hdr-logo {
        text-align: center;
    }
    .hdr-nav ul li a {
        padding: 5px 12px;
        font-size: 14px;
    }
    .hdr-search.text-right {
        text-align: center;
        margin-bottom: 15px;
    }
    .promo-area .col {
        min-width: 100%;
    }
    .single-promo {
        border-left: 1px solid #d1d1d1;
    }
    .pro-title {
        font-size: 18px;
    }
    .main-tab label {
        padding: 10px 5px;
        font-size: 12px;
    }
    .copy-txt {
        padding: 22px 0 0;
        background-size: contain;
    }
    .main-tab section table {
        display: block;
    }
     
}
